@import "tailwindcss";

@theme {
  --color-primaryGreen: #7FB069;
  --color-primaryYellow: #FFFBBD;
  --color-secondaryGreen: #214013;
  --color-secondaryYellow: #FFF99A;
}

/* if only dark mode */
:root {
  --background: var(--color-primaryGreen);
  --foreground: var(--color-primaryYellow);
}

/* If also light mode
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  --background: #FFFBBD;
  --foreground: #7FB069;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #7FB069;
    --foreground: #FFFBBD;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}