@import "tailwindcss";

@theme {
  --color-primaryGreen: #7FB069;
  --color-primaryYellow: #FFFBBD;
  --color-secondaryGreen: #26620B ;
  --color-secondaryYellow: #FFF99A;
  --color-backgroundGreen: #649C4B;
}

/* if only dark mode */
:root {
  --background: var(--color-primaryGreen);
  --foreground: var(--color-primaryYellow);
}

/* If also light mode
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  --background: #FFFBBD;
  --foreground: #7FB069;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #7FB069;
    --foreground: #FFFBBD;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}

html {
    font-size: clamp(2px, 1vw + 0.1rem, 16px); /* font-size: clamp(6px(minPixels), 1vw + 0.1rem, 16px(maxpixels); 1440/100 + 1.6px(0.1rem) = 16px // Op een scherm van 1440px kom je uit op 16 pixels -> maal 1.5 rem zoals in figma is 24 pixels*/
}
/* 
section {
  margin: 0rem 0rem;
} */